class Gear:

Attributes
-------------
id; int
name; string
toolName; string
description; string
purchaseCount; int
price; int
offSale; bool
favoriteCount; int
limitedStatus; string
catalogHeaven; bool
vipStatus; string

Methods
--------------
getscripts(); list
getscript(scriptName; string); Script
getthumbnail(); png

Behaviors
--------------
__str__ ; "name | id"



class Script:

Attributes
--------------
gearName; string
gearId; int
name; string
type; string
enabled; bool
source; string

Methods
--------------


Behaviors
--------------
__str__ ; "name | type"



