RewriteEngine On
RewriteBase /Gears/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus  0 seconds"
</IfModule>